body{
    background-color: var(--violet);
    color: var(--blanc);
    font-family: var(--Exo);
    font-size: var(--fs-m);
    font-weight: 400;
    overflow-x: none;
}

h1, h2{
    color: var(--violet-claire);
    font-family: var(--Montserrat);
    font-size: var(--fs-xxl);
    font-weight: 500;
}

h2{
    font-size: var(--fs-xl);
}

h3{
    font-family: var(--BebasNeue);
    font-size: var(--fs-l);
    font-weight: 400;
}

a{
    color: var(--blanc);
    text-decoration: none;
}