.card{
    display: block;
    padding-bottom: 25px;
}

.card > div {
    
    position: relative;
    left: 57px;
    width: 280px;
    z-index: -1;
}

.card > div::before,
.card>div::after {
    content: "";
    position: absolute;
    inset: 0;
    
    display: block;
}
.card>div::before 
{
    background: var(--bleu);
    z-index: 2;
    mix-blend-mode: soft-light;
}
.card>div::after {
    background: var(--violet);
    z-index: 3;
    mix-blend-mode: soft-light;
}

.card__intro{
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.card__intro::before{
    content: "";
    background-color: var(--bleu);
    width: 24px;
    height: 2px;
    border-radius: 50px;
    margin-left: 164.5px;
    margin-right: 184.5px;
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
}

.card__imgmini {
    position: relative;
    display: block;
}


.card__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--BebasNeue);
    padding-left:165px;
    padding-right: 55px;
    padding-bottom: 20px;
}

.card__link::before{
    content: "";
    position: absolute;
    background-color: var(--bleu);
    width: 170px;
    height: 60px;
    border-radius: 5px;
    z-index: -1;
}